#search {
    float: right;
}
#newGif{
    float: left;
    margin: 10px;
}
#top {
    margin-top: 40px;
}
.animal {
    margin: 5px;
}
body {
    background: url(../images/circle-blues.png);
}
label {
    color: white;
}
.container {
    border-radius: 25px;
    background: url(../images/dark-honeycomb.png);
    min-height: 640px;
    margin-top: 20px;

}
p{
    color: white;
}
#title{
    color: white;
    padding:10px;
}
